<% if @count_favorites == 0 %>

    <p>まだいいねした投稿がありません。</p>
    
    <p>
        いいねしてみましょう！
        <%= link_to 'トップページへ', root_path %>
    </p>
    
<% else %>
    
    <%= render 'articles/articles', articles: @favorite_articles %>
    
<% end %>

<%= link_to '戻る', :back %>