body {
    background-color: #eee;
}

.container {
    background-color: #fff;
    padding-top: 20px;
}

.top {
    background-image: url("/images/toppage_image.jpg");
}

.top h1 {
    color: white;
}

.top h2 {
    color: white;
}

.warning {
    color: red;
}